@media (min-width: 769px) {
  #card {
    padding: 30px;
  }

  #card img {
    width: 150px;
    height: 100px;
  }

  #menu-item {
    max-width: 1500px;
    margin: 0 auto;
  }
}

@media (max-width: 769px) {
  #card {
    max-width: 400px;
  }
  #card img {
    height: 250px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1500px !important;
  }
  #card p {
    font-size: 16px;
  }
}
